<!-- INCLUDING THE DEFAULT PART OF HEAD -->
<%- include('../includes/head.ejs') %>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/my-beeph.css">
</head>
<body>
    <!-- INCLUDING THE NAVBAR -->
    <%- include('../includes/nav.ejs', {user: user}) %>

    <h2 id="screenWarning">Please Rotate Your Device to the Landscape Mode</h2>
    <!-- MAIN PART -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">My Beeph</h1>
        </div>
    </div>
    <!-- THE OPTIONS -->
    <div class="row">
        <div class="col-4">
            <div class="list-group profileOptions" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Main Info</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">About Me</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Courses</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <div class="list-group mainInfo">
                        <button type="button" class="list-group-item list-group-item-action active">Profile Photo</button>
                        <!-- THE PHOTO UPLOAD -->
                        <button type="button" class="list-group-item list-group-item-action">
                            <div class="profilePhoto">
                                <img src="/<%= user.imageUrl %>" alt="" class="img-fluid" style="<%= user.imageUrl=='img/user.png' ? 'width:100%;' : '' %>">
                            </div>
                            <form action="/user/my-beeph/upload-avatar?email=<%= user.email %>&pass=<%= user.password %>" method="POST" enctype="multipart/form-data">    
                                <div class="custom-file">
                                    <input type="file" class="bs-custom-file-input" id="image" name="imageInput">
                                    <!-- <label class="custom-file-label" for="image">Choose file</label> -->
                                </div>
                                <button type="submit" class="btn btn-primary clickable">Save</button>
                            </form>
                        </button>
                        <button type="button" class="list-group-item list-group-item-action active">Name</button>
                        <button type="button" class="list-group-item list-group-item-action"><%=user.name%></button>
                        <button type="button" class="list-group-item list-group-item-action active">Surname</button>
                        <button type="button" class="list-group-item list-group-item-action"><%=user.surname%></button>
                        <button type="button" class="list-group-item list-group-item-action active" disabled>Email</button>
                        <button type="button" class="list-group-item list-group-item-action"><%=user.email%></button>
                    </div>
                </div>



                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <div class="list-group mainInfo">
                        <!-- ABOUT ME -->
                        <button type="button" class="list-group-item list-group-item-action active">About Me</button>
                        <button type="button" class="list-group-item list-group-item-action"><%=user.aboutMe%>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-secondary clickable" data-toggle="modal" data-target="#exampleModalCenter">
                                Edit
                            </button>
                        
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">About Me</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/user/my-beeph/save-about-me?email=<%= user.email %>&pass=<%= user.password %>" method="POST" class="was-validated">
                                                <div class="mb-3">
                                                    <label for="validationTextarea">Type Here</label>
                                                    <textarea class="form-control" id="validationTextarea" 
                                                    name="aboutMeInput"
                                                    placeholder="e.g. I like parties and studies" required><%=user.aboutMe%></textarea>
                                                    <div class="invalid-feedback">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        
                        </button>
                        <!-- END OF ABOUT ME PART -->

                        <!-- THE RELATIONSHIP STATUS -->
                        
                        <button type="button" class="list-group-item list-group-item-action active">Relationship Status</button>
                        <button type="button" class="list-group-item list-group-item-action"><%=user.relationshipStatus%>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-secondary clickable" data-toggle="modal" data-target="#relationshipModal">
                                Edit
                            </button>
                        
                            <!-- Modal -->
                            <div class="modal fade" id="relationshipModal" tabindex="-1" role="dialog" aria-labelledby="relationshipModalTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="relationshipModalTitle">Relationship Status</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/user/my-beeph/save-rel-status?email=<%= user.email %>&pass=<%= user.password %>" method="POST" class="was-validated">
                                                <div class="form-group col-md-8">
                                                    <label for="inputState">State</label>
                                                    <select id="inputState" class="form-control" name="relationshipStatusInput" style="padding-right:1em">
                                                        <option selected>Not Specified</option>
                                                        <option>Single</option>
                                                        <option>In a Relationship</option>
                                                        <option>It's Complicated</option>
                                                        <option>Engaged</option>
                                                        <option>Married</option>
                                                        <option>Divorced</option>
                                                        <option>In an Open Relationship</option>
                                                    </select>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </button>
                        <!-- END OF RELATIONSHIP STATUS PART -->
                    </div>
                </div>

                <!-- COURSES -->
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    <!-- THE ADD COURSE BUTTON -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary clickable" data-toggle="modal" data-target="#coursesModal">
                        Add Course
                    </button>
                
                    <!-- Modal -->
                    <div class="modal fade" id="coursesModal" tabindex="-1" role="dialog" aria-labelledby="coursesModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="coursesModalTitle">Relationship Status</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/user/my-beeph/add-course?email=<%= user.email %>&pass=<%= user.password %>" method="POST">
                                        <!-- courseNameInput -->
                                        <div class="form-group">
                                            <label for="courseNameInput">Course Name</label>
                                            <input type="text" class="form-control" id="courseNameInput" name="courseNameInput" aria-describedby="emailHelp" placeholder="e.g. PHYS 123">
                                            <small id="emailHelp" class="form-text text-muted">Enter The Course Code (not full name)</small>
                                        </div>
                                        <!-- semesterInput -->
                                        <div class="form-group">
                                            <label for="semesterInput">Semester</label>
                                            <select id="semesterInput" class="form-control" name="semesterInput" style="padding-right:1em">
                                                <option selected>Fall</option>
                                                <option>Spring</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="yearInput">Year</label>
                                            <input type="number" class="form-control" id="yearInput" name="yearInput" placeholder="e.g. 2019">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- THE LIST -->
                    <div class="list-group mainInfo">
                        <button type="button" class="list-group-item list-group-item-action active">Courses</button>
                        <button type="button" class="list-group-item list-group-item-action">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                        <th scope="col">Delete</th>
                                        <th scope="col">Course</th>
                                        <th scope="col">Semester</th>
                                        <th scope="col">Year</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- PUT FOR LOOP HERE -->
                                        <% for(let i = user.courses.length - 1; i >= 0; i--) { %>
                                            <tr>
                                                <td scope="row">
                                                    <form action="/user/my-beeph/delete-course?email=<%= user.email %>&pass=<%= user.password %>" method="POST">
                                                        <input type="hidden" value="<%=user.courses[i].courseName%>" name="courseNameInput">
                                                        <button class="btn" type="submit"><i class="fas fa-trash-alt deleteCourse"></i></button>
                                                    </form>
                                                </td>
                                                <td><%= user.courses[i].courseName %></td>
                                                <td><%= user.courses[i].semester %></td>
                                                <td><%= user.courses[i].year %></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- INCLUDING ALL THE DEFAULT SCRIPTS -->
    <%- include('../includes/end.ejs') %>
</body>

</html>